@model List<Models.DocsModels.Native>
@{
    ViewData["Title"] = "صفحه اصلی";
}

@section Header
{
    
    <meta rel="canonical" href="https://5developer.com/" />

    <!-- Open Graph -->
    <meta property="og:site_name" content="فایو دولوپر" />
    <meta property="og:title" content="مرجع مستندات فایوم" />
    <meta property="og:description" content="فایو دولوپر - کاملترین مرجع مستندات فارسی فایوم" />
    <meta property="og:url" content="https://5developer.com/" />
    <meta property="og:locale" content="ir_FA" />
}

<section id="container" class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-12 col-lg-6 col-xl-4 mt-4">
                <div class="box-shadow" id="@item.NativeId">
                    <div class="box-shadow-header">
                        <div class="w-100 native-title-container" dir="ltr">
                            <h3 class="function-name native-title" data-bs-toggle="tooltip" data-bs-placement="top" title="@item.NativeName">
                                @item.NativeName
                            </h3>
                        </div>
                    </div>
                    <div class="box-shadow-line"></div>
                    <div class="box-shadow-body">
                        <div class="function-description" des-id="@item.NativeId">
                            @item.ShortDescription
                        </div>
                    </div>
                    <div class="box-shadow-line"></div>
                    <div class="box-shadow-footer d-flex">
                        <div class="function-more w-50">
                            <a asp-controller="Native" asp-action="Single" asp-route-id="@item.NativeId" class="text-decoration-none">مشاهده بیشتر</a>
                        </div>
                        <div class="function-short-des text-lg-start w-50">
                            <a class="text-decoration-none" item-id="@item.NativeId" onclick="toggleCard(this)">توضیح کوتاه</a>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

    <div id="ob-criterion"></div>

</section>

@section Scripts
{
    @*<script>

            let rowEl = document.getElementById("container");

            console.log("Row",rowEl);

            let options = {
                root: null,
                rootMargin: '0px',
                threshold: 0.25
            }

            let callback = (entries, observer) => {
                console.log("step 1");
                entries.forEach(entry => {
                    console.log("step 2");
                    if (entry.isIntersecting) {
                        // do some magic here
                        console.log('step 3');
                    }
                    // and some other methods
                })
            }


            let observer = new IntersectionObserver(callback, options);

            let target = document.querySelector("#ob-criterion");
            observer.observe(target);

        </script>*@
}
