@inject INativeApiService _apiService
@inject INativeCategoryService _categoryService
@using Models.DocsModels
@using Services.Interfaces.Docs
@model ViewModels.Docs.AdminAddNativeViewModel
@{
    ViewData["Title"] = "توابع و مستندات";
    ViewData["Meta-Title"] = "افزودن تابع و مستند";

    List<NativeApiSet> apiSets = await _apiService.GetAllApiSetsAsync();
    List<NativeCategory> categories = await _categoryService.GetAllCategoriesAsync();
}

@section Router
{
    <li><a href="/Admin/"><i class="fa fa-dashboard"></i> خانه</a></li>
    <li><a asp-area="Admin" asp-controller="Native" asp-action="Index"> توابع</a></li>
    <li class="active">افزودن تابع</li>
}

<div class="col-xl-12">
    <div class="box box-info">

        <div class="box-header with-border">
            <h3 class="box-title">
                افزودن تابع جدید
            </h3>
        </div>

        <div class="box-body">

            <form method="post">

                <div class="col-xs-12 col-md-9">

                    <div class="form-group">
                        <label asp-for="NativeName"></label>
                        <input asp-for="NativeName" class="form-control" placeholder="مثالا RegisterCommad" />
                        <span asp-validation-for="NativeName" class="text-danger text-sm"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ShortDescription"></label>
                        <textarea rows="5" asp-for="ShortDescription" class="form-control"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger text-sm"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea rows="15" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger text-sm"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SampleCode"></label>
                        <textarea rows="15" asp-for="SampleCode" class="form-control code-view"></textarea>
                        <span asp-validation-for="SampleCode" class="text-danger text-sm"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="ثبت تابع جدید" class="btn btn-success btn-block" />
                    </div>

                </div>

                <div class="col-xs-12 col-md-3">

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                داده های زیر دسته
                            </h3>
                        </div>

                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="ApiSetId"></label>
                                <select asp-for="ApiSetId" class="form-control">
                                    <option value="@null">انتخاب Api</option>
                                    @foreach (var item in apiSets)
                                    {
                                        <option value="@item.ApiSetId">@item.Name</option>

                                    }
                                </select>
                                <span asp-validation-for="ApiSetId" class="text-danger text-sm"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryId"></label>
                                <select asp-for="CategoryId" class="form-control">
                                    <option value="@null">انتخاب دسته</option>
                                    @foreach (var item in categories)
                                    {
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger text-sm"></span>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3 class="panel-title">برچسب ها</h3>
                        </div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label asp-for="Tags"></label>
                                <textarea asp-for="Tags" placeholder="با '-' جدا شود" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="Tags" class="text-danger text-sm"></span>
                            </div>

                        </div>

                    </div>

                </div>
            </form>

        </div>

    </div>
</div>

@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

    <script>
        const descEditor = ClassicEditor
            .create(document.querySelector('#Description'),
                {
                    language: "ar",
                    ckfinder: {
                        uploadUrl: '@Url.Action("UploadImage")'
                    }
                });
    </script>
}
